// Variable overrides
$white: #ffffff;
$grap-secondary: #c8ced3;
$theme-blue: #1367CD;
$theme-green: #1DCE87;
$theme-black: #556E6B;
$light-blue: #14C4E8;
$hr-light-blue: #3D9BE9;
$light-green: #17F3A7;